<!DOCTYPE html>
<html>
  <head>
    <title>Chatapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul style="display:inline-block; list-style:None;">
      <li>
        <a href="/users/new">New User</a>
        <a href="/messages/new">New Message</a>
      </li>
    </ul><br>
    <%= yield %>
  </body>
</html>
